.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__bBpQt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__bBpQt > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bBpQt > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__bBpQt > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bBpQt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__bBpQt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__wimlD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__wimlD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column__wimlD > :global(.__wab_flex-container) > *,
.column__wimlD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__wimlD > :global(.__wab_flex-container) > picture > img,
.column__wimlD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uqke5hAFe3UngR);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column__wY5St {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: var(--token-uqke5hAFe3UngR);
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__wY5St {
    padding: 0px 8px;
  }
}
.h5___4NfXn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5___4NfXn {
    margin: 0px 0px 15px;
  }
}
.link__hyTtR {
  position: relative;
  color: var(--token-uqke5hAFe3UngR);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  align-self: auto;
  text-align: center;
  margin: 0px 0px 0.75em;
}
.link__fsA5G {
  position: relative;
  color: var(--token-uqke5hAFe3UngR);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__pE9O0 {
  position: relative;
  color: var(--token-uqke5hAFe3UngR);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__cl3Qw {
  position: relative;
  color: var(--token-uqke5hAFe3UngR);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link__cl3Qw {
    margin: 0px 0px 1.5em;
  }
}
.link__ko9Xp {
  position: relative;
  color: var(--token-uqke5hAFe3UngR);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.column__lSsAl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: var(--token-uqke5hAFe3UngR);
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__lSsAl {
    padding: 0px 8px;
  }
}
.h5__uEsIk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__uEsIk {
    margin: 0px 0px 15px;
  }
}
.columns__tb6Le {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-uqke5hAFe3UngR);
  min-width: 0;
  border-style: solid;
}
.columns__tb6Le > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__tb6Le > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__tb6Le > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tb6Le {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tb6Le > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tb6Le > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__tb6Le > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__lpno {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hv9Lz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__hv9Lz > picture > img {
  object-fit: cover;
}
.img__hv9Lz > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__lFddf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dogoo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__dogoo > picture > img {
  object-fit: cover;
}
.img__dogoo > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__c4CJz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cEuTc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cEuTc > picture > img {
  object-fit: cover;
}
.img__cEuTc > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__fdIlw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-uqke5hAFe3UngR);
  min-width: 0;
  border-style: solid;
}
.columns__fdIlw > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__fdIlw > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__fdIlw > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fdIlw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fdIlw > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fdIlw > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__fdIlw > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__md6Q3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___27Pl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___27Pl > picture > img {
  object-fit: cover;
}
.img___27Pl > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__hS556 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ly8Xx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ly8Xx > picture > img {
  object-fit: cover;
}
.img__ly8Xx > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__pDjTh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__edPxU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__edPxU > picture > img {
  object-fit: cover;
}
.img__edPxU > .__wab_img-spacer > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #590c5f;
  align-self: center;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 180px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.link__peL9V {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__uqBjm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uqBjm > picture > img {
  object-fit: cover;
}
.img__uqBjm > .__wab_img-spacer > img {
  object-fit: cover;
}
