.root {
  display: flex;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-uqke5hAFe3UngR);
  position: relative;
  min-width: 0;
  padding: 4.17em 0px 3.33em;
}
.root > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 3em 0px 2em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tkrtd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 15px;
}
.h2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 0.25em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2 {
    font-size: 32px;
    margin: 0px 0px 20px;
  }
}
.text___9V2A9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 694px;
  text-align: center;
  min-width: 0;
  margin: 0px 0px 1.67em;
}
.columns__zbuOt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1170px;
  padding: 0rem;
  margin: 0px 0rem;
}
.columns__zbuOt > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zbuOt > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zbuOt > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zbuOt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__zbuOt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bh0G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__jn3Xf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__jn3Xf > picture > img {
  object-fit: cover;
}
.img__jn3Xf > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___5Me96 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns___5Me96 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___5Me96 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___5Me96 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oxDSr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__cuzdw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dDDXYbTNfqZ9ov);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__hChU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PoENwnpoa9ZWU4);
  font-size: var(--token-pKU8snvEQ0swPp);
  padding-top: 14px;
  min-width: 0;
  margin: 0px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__hChU {
    font-size: 20px;
  }
}
.text__vwxPf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 11px;
}
.button__qirVc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___03OEx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__op1Kq {
  font-size: 13px;
}
.svg__pvrQa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__guIqW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__kuOrA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 230px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__kuOrA > picture > img {
  object-fit: cover;
}
.img__kuOrA > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__wo8Jw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__wo8Jw > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__wo8Jw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__wo8Jw > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pj3H5 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__pj3H5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.column__pj3H5 > :global(.__wab_flex-container) > *,
.column__pj3H5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pj3H5 > :global(.__wab_flex-container) > picture > img,
.column__pj3H5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__q5RrR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dDDXYbTNfqZ9ov);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4__erI2P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  color: var(--token-PoENwnpoa9ZWU4);
  font-size: var(--token-pKU8snvEQ0swPp);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4__erI2P {
    font-size: 20px;
    margin-top: calc(0px + 10px) !important;
  }
}
.text__rUTk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
}
.button__tk5Py:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___19KZk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__asRx8 {
  font-size: 13px;
}
.svg__fsDkW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__voR3N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px 0.83rem;
}
.img__jKgtu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 230px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}
.img__jKgtu > picture > img {
  object-fit: cover;
}
.img__jKgtu > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__eVdc3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #ffffff;
  box-shadow: 0px 3px 10px 0px #0000001a;
  min-width: 0;
  padding: 1.33em;
}
.columns__eVdc3 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__eVdc3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__eVdc3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ok7Aj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__eoS46 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-dDDXYbTNfqZ9ov);
  font-size: var(--token-Nbxcd6fQVjSG4Q);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  min-width: 0;
}
.h4___6D0YT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-PoENwnpoa9ZWU4);
  font-size: var(--token-pKU8snvEQ0swPp);
  min-width: 0;
  margin: 11px 0px 10px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h4___6D0YT {
    font-size: 20px;
  }
}
.text___4PRLz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px 0px 5px;
}
.button___1UkjQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___1QKvy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___3Y0Df {
  font-size: 13px;
}
.svg__waf68 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
